<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
    <script src="/js/utils.js"></script>
    <title>Login</title>
  </head>
  <body
    class="d-flex w-100 flex-column align-items-center justify-content-center"
    style="font-family: Urbanist"
  >
    <nav
      class="d-flex py-3 px-4 w-100 justify-content-between align-items-center"
    >
      <a class="text-decoration-none text-dark" href="/home"
        ><h1 class="fw-bold">Mongchatto</h1></a
      >
      <a class="btn btn-primary" href="/auth/register">Register</a>
    </nav>
    <div class="col-md-8 col-lg-3 mt-3">
      <form action="/auth" method="POST">
        <div class="mb-3">
          <label for="username" class="form-label" style="font-weight: 500"
            >Username</label
          >
          <input
            type="text"
            class="form-control"
            id="username"
            name="username"
          />
        </div>
        <div class="mb-3">
          <label for="password" class="form-label" style="font-weight: 500">Password</label>
          <input
            type="password"
            name="password"
            class="form-control"
            id="password"
          />
        </div>
        <button type="submit" class="btn btn-primary w-100 mt-3">Login</button>
      </form>
    </div>
    <div
      id="success"
      class="alert alert-success alert-dismissible fade show mt-5"
      role="alert"
    >
      <span></span>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>

    <div
      id="error"
      class="alert alert-danger alert-dismissible fade show mt-5"
      role="alert"
    >
      <span></span>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>

    <script>
      $(() => {
        const error = getUrlParameter("error");
        if (error) {
          $("#error span").text(error);
        } else {
          $("#error").hide();
        }

        const success = getUrlParameter("success");
        if (success) {
          $("#success span").text(success);
        } else {
          $("#success").hide();
        }
      });
    </script>
  </body>
</html>
