<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
    <title>Chat Room</title>
    <script>
      const roomId = "<%= roomId %>";
      const user = {
        _id: "<%= user._id %>",
        username: "<%= user.username %>",
        firstname: "<%= user.firstname %>",
        lastname: "<%= user.lastname %>",
        name: "<%= user.firstname %>" + " <%= user.lastname %>",
      };
    </script>
    <script defer src="http://localhost:3000/socket.io/socket.io.js"></script>
    <script defer src="/js/room.js"></script>
    <style>
      #message-container div {
        background-color: #f1f1f1;
        padding: 8px 12px;
        border-radius: 8px;
        margin: 4px 0;
      }
      #message-container div:nth-child(2n) {
        background-color: #fff;
      }
    </style>
  </head>
  <body
    class="d-flex w-100 flex-column align-items-center justify-content-center align-items-center"
    style="font-family: Urbanist"
  >
    <nav
      class="d-flex py-3 px-4 w-100 justify-content-between align-items-center"
    >
      <a class="text-decoration-none text-dark" href="/home"
        ><h1 class="fw-bold">Mongchatto</h1></a
      >
    </nav>
    <div
      class="my-2 col-8 mt-3 col-lg-3 d-flex flex-row justify-content-between align-items-center px-3"
    >
      <h4 class="fw-bold m-0">Chat Room</h4>
      <button class="btn btn-primary" onclick="disconnectRoom()">
        Leave Room
      </button>
    </div>
    <div class="col-md-8 mt-2 col-lg-3">
      <p id="typing-user" style="height: 20px"></p>
      <div
        id="message-container"
        class="my-3 px-3"
        style="height: 400px; overflow-y: scroll"
      ></div>
      <form
        id="send-container"
        class="d-flex justify-content-between fixed bottom-0 pb-5 px-3"
      >
        <div class="mr-1 w-75">
          <input
            type="text"
            class="form-control w-100"
            id="message-input"
            disabled
          />
        </div>
        <button type="submit" class="btn btn-primary" id="send-button" disabled>
          Send
        </button>
      </form>
    </div>
  </body>
</html>
